data/sao-paulo/rotas-migracao/new_routes_cars_to_bikes.csv
data/sao-paulo/rotas-migracao/new_routes_bus_sp_to_bikes.csv
data/sao-paulo/rotas-migracao/new_routes_cars.csv
.history/
codigo/complete_csv.csv
codigo/.ipynb_checkpoints
__pycache__
codigo/bases/*
pagina_web/formulario/respostas/*
*~lock*
*.csv
*.dbf
./data/sao-paulo/rotas-migracao/new_routes_cars_to_bikes.csv
./data/sao-paulo/rotas-migracao/new_routes_bus_sp_to_bikes.csv
./data/sao-paulo/rotas-migracao/new_routes_cars.csv
./codigo/bases/complete_csv_backup.csv
./codigo/bases/complete_csv.csv
./codigo/lanes_processed/lanes_processed.dbf
./codigo/dados_processamentos/potential_lanes_08_taxi_app/potential_lanes_08_taxi_app.dbf
./codigo/dados_processamentos/potential_lanes_08_subway/potential_lanes_08_subway.dbf
./codigo/dados_processamentos/potential_lanes_08_train/potential_lanes_08_train.dbf
./codigo/dados_processamentos/potential_lanes_08_pedestrian/potential_lanes_08_pedestrian.dbf
./codigo/dados_processamentos/potential_lanes_08_bus_sp/potential_lanes_08_bus_sp.dbf
./codigo/dados_processamentos/potential_lanes_08_motorcycle/potential_lanes_08_motorcycle.dbf
./codigo/dados_processamentos/potential_lanes_08_geral/potential_lanes_08_geral.dbf
./codigo/dados_processamentos/potential_lanes_08_all/potential_lanes_08_all.dbf
./codigo/dados_processamentos/potential_lanes_08_car/potential_lanes_08_car.dbf
./codigo/.ipynb_checkpoints/9_Cycling_Potential_Results_Routes_All-checkpoint.ipynb
./codigo/9_Cycling_Potential_Results_Routes_All.ipynb
./codigo/maps/per_modal_tier/2_ped_car.html
./codigo/maps/per_modal_tier/2_ped_car_mot.html
./codigo/maps/per_modal_tier/2_ped_mot_bus.html
./codigo/maps/per_modal_tier/2_ped_car_bus.html
./codigo/maps/per_modal_tier/2_ped_bus.html
./codigo/maps/per_modal_tier/2_ped_car_mot_bus.html
./codigo/lanes_with_zones.dbf
./.git/objects/pack/pack-3c581d6a76ec2b0f402c0a1d269388b9d012689b.pack
./.git/lfs/objects/43/21/43210d1053320d22a03f318304c58f10ca3d6abc92842505dc83d8f6f686b276
./.git/lfs/objects/c4/c1/c4c10a276149ce981a29fff86b87c15986d948f6a2d8e8b99a293eb1da540f16
./.git/lfs/objects/f1/d7/f1d77c8ee0914212fae9d8fc0dda3367713380e0dd4e423f7cd2635b1c67760f
./.git/lfs/objects/87/d3/87d3312918a003866c79409f50eb767f7e33f8b9a257488dcb4bd31b9105c50a
./.git/lfs/objects/41/3e/413e64117bf38d0a857a00fd31db827c93b89054566f2791b011fc281caeca08
./.git/lfs/objects/9d/91/9d91d13e61ddc20cd81de5b8ef6668019ead916e4878db314be1b56ad7638f5f
./.git/lfs/objects/62/45/624502945b7ef5bc8521b82baf819ddbcabb3207dbe9e18ad95bb3dfbefa7004
