__pycache__/
./scr/maps/streets
./src/maps/streets/*
./src/bases/complete_csv_backup.csv
./src/bases/lanes_processed/lanes_processed.dbf
./src/bases/lanes_without_infra/lanes_without_infra.dbf
./src/bases/complete_csv_backup.csv
./src/bases/complete_csv.csv
./src/bases/lanes_with_zones/lanes_with_zones.dbf
./src/.ipynb_checkpoints/9_Cycling_Potential_Results_Routes_All-checkpoint.ipynb
./src/maps/streets/2_ped_car.html
./src/maps/streets/2_ped_car_mot.html
./src/maps/streets/2_ped_mot_bus.html
./src/maps/streets/2_ped_car_bus.html
./src/maps/streets/2_ped_bus.html
./src/maps/streets/2_ped_car_mot_bus.html
./data/sao-paulo/rotas-migracao/new_routes_cars_to_bikes.csv
./data/sao-paulo/rotas-migracao/new_routes_bus_sp_to_bikes.csv
./data/sao-paulo/rotas-migracao/new_routes_cars.csv
./data/sao-paulo/rotas-migracao.zip
