data/sao-paulo/rotas-migracao/new_routes_cars_to_bikes.csv
data/sao-paulo/rotas-migracao/new_routes_bus_sp_to_bikes.csv
data/sao-paulo/rotas-migracao/new_routes_cars.csv
.history/
codigo/complete_csv.csv
codigo/.ipynb_checkpoints
__pycache__
codigo/bases/*
pagina_web/formulario/respostas/*
*~lock*
