#mapid { 
    height: 45em; 
    width: 100%; 
    border-width: 2px;
    border-color: rgb(255, 45, 45);
    border-style: groove;
}

#legend { 
    width: 180px;
    padding: 10px 10px 10px 10px;
    border:2px groove rgb(255, 45, 45);
    background-color: white;
    z-index: 9999;
    font-size:12px;
}

.btn-primary {
    background-color: rgb(255, 45, 45);
    border-color:rgb(240, 40, 40);
}
.btn-primary:hover .btn-primary:visited {
    background-color: rgb(223, 32, 32);
    border-color:rgb(240, 40, 40);
}

.botoes {
    padding-left: 10%;
    padding-right: 10%;
}