#mapid { 
    height: 45em; 
    width: 100%; 
    border-width: 2px;
    border-color: rgb(255, 45, 45);
    border-style: groove;
}

#legend { 
    width: 80%;
    padding: 10px 10px 10px 10px;
    border:2px solid rgb(255, 45, 45);; 
    background-color: white;
    z-index: 9999;
    font-size:12px;
}