html.main-page {
    height: 100%;
}
body {
    height: 100%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(255, 45, 45);
}

.main {
    height: 100%;
    padding: 3% 3% 3% 3%;
    background-color: white;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.content {
    padding: 2% 8% 2% 8%;
    letter-spacing: 0.07em;
    font-size: 1.1em;
    text-align: justify;
}

.modal-content {
    padding: 1em 1em 1em 1em;
    letter-spacing: 0.07em;
    font-size: 0.96em;
    text-align: justify;
}

.modal-text {
    font-size: 0.9em;
}

.content-home {
    padding-top: 3%;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    text-align: justify;
}

.content-home p {
    text-indent: 2%;
}

.title, .title:hover {
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

h2.subtitle {
    letter-spacing: 0.03em;
    margin-bottom: 0.3em;
}

h3.subtitle {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 400;
    color: black;
    text-decoration: dashed;
}

.links {
    padding-bottom: 4%;
    text-align: right;
}

a, a:visited {
    color: inherit;
    text-decoration: none;

}

a:hover {
    color: rgb(255, 45, 45);
    text-decoration: none;
}

.links a, .links a:visited {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.col {
    align-items: center;
}

.text {
    padding-left: 2%;
    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.09em;
}

.text-home {
    padding-left: 5%;
    text-align: justify;
    font-size: 1.2em;
    letter-spacing: 0.09em;
}

.topicos {
    padding-left: 1.5%;
    padding-top: 1.5%;
    font-size: 0.9em;
}

.topicos .detalhes {
    padding-left: 5%;
    padding-top: 01em;
    font-size: 0.85em;
}

.topicos li {
    padding-left: 3%;
    padding-bottom: 0.85em;
}

.autor {
    font-size: 0.8em;
}

.topicos a:hover {
    color: rgb(255, 45, 45);
    text-decoration: none;
}

.tarefas {
    font-size: 1em;
    padding-top: 1%;
    margin-right: 5%;
    margin-left: 2%;
    padding-bottom: 1%;
    border-bottom: 1px dotted black;
}

.tabela .titulo {
    text-align: center;
    
}

.tabela .atividade {
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 0.1em solid #212529;
    border-right: 0.1em dotted #212529;
}

.tabela .titulo .mes {
    padding-top: 2%;
    font-size: 0.7em;
}

.tabela .mes {
    text-align: center;
    border-right: 0.1em dotted #212529;
    border-bottom: 0.1em solid #212529;
    width: 5%;
}

.tabela .linha {
    padding-left: 2%;
}

.tabela .mes .celula-completa {
    margin-top: 30%;
    margin-bottom: 30%;
    height: 40%;
    background-color: rgb(107, 211, 58);
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(218, 32, 32);
    cursor: pointer;
}

.language {
    margin-right: 1%;
    font-size: 1.5em;
}
